{% extends 'base.html' %}

{% block title %}
Новые рецепты
{% endblock %}

{% block body %}

<div class="container mt-5">
<p style="margin-bottom: 80px;"></p>

<form action="" method="GET" class="d-flex">
    <input class="form-control me-2" type="text" name="q" value="{{ request.args.get('q', '') }}" placeholder="Ваш любимый рецепт" aria-label="Поиск">
    <button class="btn btn-primary btn px-4 gap-3" type="submit" >Поиск</button>
</form>

</div>

<div class="album py-5 bg-light">
    <div class="container">
      <p style="margin-bottom: -35px;"></p>
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

        {% if articles|length > 0 %}

            {% for el in articles %}
              <div class="col">
              <div class="card shadow-sm">
                <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title> Placeholder</title> <rect width="100%" height="100%" fill="#55595c"></rect> <text x="20%" y="50%" fill="#eceeef" dy=".4em"> {{ el.title }} </text></svg>
                <div class="card-body">
                  <p class="card-text">{{ el.intro }}</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <a href="/feed/{{ el.id }}" type="button" class="btn btn-success">Смотреть</a>
                    </div>
                    <small class="text-muted">Дата: {{ el.date.date() }}</small>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}

        {% else %}
        <p>На данный момент рецептов нет</p>
        {% endif %}

      </div>
    </div>
</div>

{% endblock %}